# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/

# Misc
.DS_Store
.env

# VIM
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.venv/
venv/

# Local
*.local
*.local.*
